:root {
  --p-red: #f93318;
  --p-blue: #196eef;
  --p-yellow: #fff933;
  --p-green: #7dc62c;
  --p-purple: #b243f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
}

.companion {
  display: grid;
  justify-content: center;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid var(--p-red);
  background: rgb(from var(--p-red) r g b / 0.7);
  border-radius: 0.5em;
  height: 96vh;
  margin-bottom: 2vh;
  width: max-content;
  grid-template-rows: max-content;
  max-height: 96vh;
}

.filter-pokemon {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 6rem);
  max-height: 1.5rem;
  margin-top: 0.5rem;
}

.filter-pokemon input {
  border-radius: 0.25em;
  outline: none;
  border: 1px solid var(--p-yellow);
  background: rgb(from var(--p-yellow) r g b / 0.7);
  padding: 0.25em 0.5em;
  grid-column: span 3;
}

.filter-pokemon input:focus {
  border: 1px solid black;
}

.filter-pokemon button {
  background: rgb(from var(--p-blue) r g b / 0.7);
  border: 1px solid var(--p-blue);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.pokemon-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-height: 75vh;
}

.pokemon-grid-item {
  padding: 0.5rem;
  border: 2px solid var(--p-yellow);
  background: var(--p-blue);
  margin: 0.1rem;
  border-radius: 0.5em;
  height: 5rem;
  gap: 0.5rem;
}

.grid {
  height: 80vh;
  margin-top: 1vh;
}

.tab-list {
  display: flex;
  justify-content: space-between;
}

.tab {
  background: rgb(from var(--p-red) r g b / 0.7);
  flex: 1;
  border: 2px solid var(--p-red);
  border-bottom: transparent;
  cursor: pointer;
}

.content {
  overflow-y: scroll;
  display: none;
  max-height: 100%;
}

.active-content {
  display: block;
}

.active-tab {
  background: none;
}

.active-tab::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: var(--p-purple);
}
